<div id="<%= dom_id question %>">
  <p>
    <strong>Question:</strong>
    <%= question.content %>
  </p>


  <% if false %>
  <p>
    <strong>Topic:</strong>
    <%= question.topic_id %>
  </p>
  <% end %>
  
</div>
