<div>
    <h1>Hi, I'm Adilet Satylganov.</h1>
    <p>I'm Backend Junior Developer.</p>
    <p>This blog is created to keep track of my progress in learning backend development and contains information of my stack, useful articles and links, and a testing tool in 'topics' tab.</p>

</div>

<div class="hero-image">
    <center><img src="/assets/adilet-satylganov.jpeg" alt="Masyanya" height="400"></center>
</div>