<div>
    <h1>Hi, I'm Adilet Satylganov.</h1>
    <p> I'm Ruby on Rails Developer.</p>
</div>

<div class="hero-image">
    <center><img src="/assets/adilet-satylganov.jpeg" alt="Masyanya" height="400"></center>
</div>