<div class="d-flex align-items-center justify-content-center">
    <h1>This website is my pet project to help me keep track of my web dev learning path.</h1>
</div>

<div class="hero-image">
    <center><img src="/assets/main-image.jpeg" alt="Masyanya" height="400"></center>
</div>