<% provide(:title, "Topics") %>

<p style="color: green"><%= notice %></p>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Topics</li>
  </ol>
</nav>

<h1>Topics</h1>

<%= link_to "New topic", new_topic_path, class: "btn btn-primary mt-5" %>

<div id="topics">
  <% @topics.each do |topic| %>
    <div class="my-4">
        <%= link_to topic.content, topic %>
    </div>
  <% end %>
</div>


