<% provide(:title, "My Stack") %>

<h1>My Stack</h1>

<%= link_to "My LinkedIn Account", "https://www.linkedin.com/in/adilet-satylganov-9a67711b7/", target: :_blank %>
<div class="mt-5">
    <h4>My Stack includes:</h4>
    <ul>
        <li>Terminal commands</li>
        <li>Git version control</li>
        <li>Pushing and pulling from GitHub</li>
        <li>Ruby syntax</li>
        <li>Ruby on Rails Application Structure</li>

    </ul>

    <h4>Learn little by little</h4>
    <ul>
        <li>Принципы ООП</li>
        <li>MVC model</li>
        <li>Как работает интернет</li>
        <li>HTTP запросы</li>
        <li>Андрей Кобец - TCP/IP</li>
        <li>Web server and Application server</li>
    </ul>

    <h4>What I need to learn next:</h4>
    <ul>
        <li>PostgreSQL</li>
        <li>Redis</li>
        <li>Postman</li>
        <li>Heroku, RSpec, Capybara</li>
    </ul>

    <h4>Rules to follow</h4>
    <ul>
        <li>Do the RoR Magical Morning.</li>
        <li>Regularly push to Github: minimun 1 time a week.</li>
        <li>Learn stack services according to the specialty of your choice.</li>
        <li>Show the knowledge of microservices on your pet project.</li>
        <li>Keep doing the Sample App of Michael Hartl's Tutorial.</li>
    </ul>

</div>
