<% provide(:title, "My Stack") %>

<h1>My Stack</h1>

<!-- <%= link_to "My LinkedIn Account", "https://www.linkedin.com/in/adilet-satylganov-9a67711b7/", target: :_blank %> -->
<div class="mt-5">
    <h4>My Stack includes:</h4>
    <ul>
        <li>Terminal commands</li>
        <li>Figma</li>
        <li>HTML. CSS.</li>
        <li>Git version control. Pushing and pulling from GitHub.</li>
        <li>Ruby syntax</li>
        <li>Ruby on Rails Application Structure</li>
        <li>SQL</li>
        <li>Java. Basic Syntax.</li>
        <li>Atlassian Jira for Project management</li>
    </ul>

    <h4>Basic concepts</h4>
    <ul>
        <li>Принципы ООП</li>
        <li>MVC model</li>
        <li>Как работает интернет</li>
        <li>HTTP запросы</li>
        <li>TCP/IP</li>
        <li>Web server and Application server</li>
    </ul>

    <h4>Played a little with:</h4>
    <ul>
        <li>TailwindCSS</li>
        <li>Postman</li>
        <li>DB Browser for SQLite</li>
        <li>DBeaver</li>
        <li>Heroku</li>
        <li>AWS Management Console</li>
    </ul>


    <h4>What I need to learn next:</h4>
    <ul>
        <li>PostgreSQL</li>
        <li>Redis</li>
        <li>RSpec, Capybara</li>
    </ul>

    <h4>Rules to follow</h4>
    <ul>
        <li>Do the RoR Magical Morning.</li>
        <li>Regularly push to Github</li>
        <li>Learn stack services according to the specialty of your choice.</li>
        <li>Show the knowledge of microservices on your pet project.</li>
    </ul>

</div>
