<h1>Editing question</h1>

<%= render "form", question: @question %>

<br>

<div>
  <%= link_to "Show this question", [@topic, @question] %> |
  <%= link_to "Back to questions", topic_questions_path(@topic) %>
</div>
