<h1>About me</h1>

<p>
    My name is Adilet Satylganov.<br>
    I am learning Ruby on Rails and willing to be a backend developer.

</p>

<%= link_to "My LinkedIn Account", "https://www.linkedin.com/in/adilet-satylganov-9a67711b7/", target: :_blank %>