<% provide(:title, "About me") %>

<h1>About me</h1>

<p>
    My name is Adilet Satylganov.<br>
    I am currently learning Ruby on Rails.
</p>

<%= link_to "My LinkedIn Account", "https://www.linkedin.com/in/adilet-satylganov-9a67711b7/", target: :_blank %>
<div class="mt-5">
    <h4>My Stack includes:</h4>
    <ul>
        <li>Terminal commands</li>
        <li>Git version control</li>
        <li>Pushing to GitHub</li>
        <li>Принципы ООП</li>
        <li>MVC model</li>
        <li>Как работает интернет</li>
        <li>HTTP запросы</li>
    </ul>

    <h4>What I need to learn next:</h4>
    <ul>
        <li>Finish Michael Hartl Tutorial</li>
        <li>Ruby syntax, cycles, ifs</li>
        <li>json</li>
        <li>Databases. SQL, PostgreSQL</li>
        <li>Leetcode</li>
        <li>Tailwind</li>
        <li>Flutter</li>
        <li>Redis, Heroku, RSpec, Capybara</li>
    </ul>

    <h4>Job postings</h4>
    <ul>
        <li>https://devkg.com/ru/jobs/razrabotchik-junior-ruby-on-rails-developer-osoo-vertex-technologies-6901?utm_source=telegram&utm_medium=channel&utm_campaign=transition</li>
    </ul>

</div>
