<% provide(:title, "About me") %>

<h1>About me</h1>

<p>
    My name is Adilet Satylganov.<br>
    I am a backend developer, currently learning Ruby on Rails.

</p>

<%= link_to "My LinkedIn Account", "https://www.linkedin.com/in/adilet-satylganov-9a67711b7/", target: :_blank %>