<ul class='list-unstyled'>
  <li><%= link_to "Edit", edit_topic_path(@topic) %></li>
  <li><%= button_to 'Delete Topic', topic_path(@topic),
  data: {:confirm => 'Are you sure?'}, method: :delete %></li>
</ul>